<header>
	{%- assign default_paths = site.pages | map: "path" -%}
	{%- assign page_paths = site.bootstrap.header_pages | default: default_paths -%}
	{%- assign titles_size = site.pages | map: 'title' | join: '' | size -%}
	<nav class="navbar navbar-dark navbar-expand-lg">
		<div class="container">
			<a class="navbar-brand" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
			{%- if titles_size > 0 -%}
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
					{%- include menu.html -%}
				</ul>
			</div>
		{%- endif -%}
		</div>
	</nav>
</header>
