<li class="nav-item dropdown px-2">
	<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">PlayStation</a>
	<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
		<li>
			<a class="dropdown-item" href="{% link ps2/index.md %}">PlayStation 2</a>
			<ul class="dropdown-menu dropdown-submenu">
				<li>
					<a class="dropdown-item" href="{% link ps2/what-to-buy.md %}">What to Buy</a>
					<a class="dropdown-item" href="{% link ps2/display-output.md %}">Display Output</a>
					<a class="dropdown-item" href="{% link ps2/softmodding.md %}">Softmodding</a>
					<a class="dropdown-item" href="{% link ps2/apps/index.md %}">Homebrew Essentials</a>
					<a class="dropdown-item" href="{% link ps2/freemcboot-tutorial.md %}">FreeMCBoot Tutorial</a>
					<a class="dropdown-item" href="{% link ps2/freehdboot-tutorial.md %}">FreeHDBoot Tutorial</a>
					<a class="dropdown-item" href="{% link ps2/storage.md %}">Managing Storage</a>
					<a class="dropdown-item" href="{% link ps2/memory-cards.md %}">Memory Cards</a>
					<a class="dropdown-item" href="{% link ps2/controllers.md %}">Controllers</a>
				</li>
			</ul>
		</li>
		<li>
			<a class="dropdown-item" href="{% link ps3/index.md %}">PlayStation 3 🛠</a>
			<ul class="dropdown-menu dropdown-submenu">
				<li>
					<a class="dropdown-item" href="{% link ps3/what-to-buy.md %}">What to Buy</a>
				</li>
			</ul>
		</li>
		<li>
			<a class="dropdown-item" href="{% link psp/index.md %}">PlayStation Portable</a>
			<ul class="dropdown-menu dropdown-submenu">
				<li>
					<a class="dropdown-item" href="{% link psp/what-to-buy.md %}">What to Buy</a>
					<a class="dropdown-item" href="{% link psp/apps.md %}">Essential Applications</a>
					<a class="dropdown-item" href="{% link psp/wizard.html %}">Custom Firmware Wizard</a>
					<a class="dropdown-item" href="{% link psp/cfw/index.md %}">Custom Firmware Guide</a>
					<a class="dropdown-item" href="{% link psp/firmware.md %}">Firmware Downloads</a>
					<a class="dropdown-item" href="{% link psp/dlc.md %}">Free DLC</a>
					<a class="dropdown-item" href="{% link psp/battery.md %}">PSP Battery woes</a>
					<a class="dropdown-item" href="{% link psp/hardware-mods.md %}">Hardware Mods</a>
				</li>
			</ul>
		</li>
		<li>
			<a class="dropdown-item" href="{% link psvita/index.md %}">PlayStation Vita 🛠</a>
			<ul class="dropdown-menu dropdown-submenu">
				<li>
					<a class="dropdown-item" href="{% link psvita/what-to-buy.md %}">What to Buy</a>
					<a class="dropdown-item" href="{% link psvita/apps.md %}">Essential Applications</a>
				</li>
			</ul>
		</li>
		<li>
			<a class="dropdown-item" href="{% link xplay.md %}">Xperia Play</a>
		</li>
	</ul>
</li>
<li class="nav-item dropdown px-2">
	<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Others</a>
	<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
		<li><a class="dropdown-item" href="{% link pc/now-free-retro-releases.md %}">Free PC Games</a></li>
		<li><a class="dropdown-item" href="{% link raspberry-pi.md %}">Raspberry Pi</a></li>
		<li><a class="dropdown-item" href="{% link dreamcast/index.md %}">Dreamcast 🛠</a></li>
		<li><a class="dropdown-item" href="{% link nds/index.md %}">Nintendo DS 🛠</a></li>
	</ul>
</li>
<li class="nav-item dropdown px-2">
	<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Support</a>
	<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
		<li><a class="dropdown-item" href="#">Contact Us</a></li>
		<li><a class="dropdown-item" href="#">Discord</a></li>
	</ul>
</li>
<li class="nav-item px-2">
	<a class="nav-link" href="{% link blog/index.html %}">Blog</a>
</li>
<li class="nav-item px-2">
	<a class="nav-link" href="#" id="rt-bright-toggle">🔆</a>
</li>
