<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

	{%- include head.html -%}

	<body class="d-flex flex-column vw-100 vh-100">

    {%- include header.html -%}

    <main class="page-content pb-5 flex-shrink-0" aria-label="Content">
		<div class="mb-4 px-3 rt-banner">
			<h1 class="display-5 fs-4">Retro Gamers, Welcome Home</h1>
			<div class="col-lg-6">
				<p class="lead mb-4">We aim to provide the latest information, tweaks, custom modifications and guides for the now broad range of retro consoles and handhelds.</p>
			</div>
		</div>

    	<div class="container-lg p-3 rt-bordering">

			<div class="home">

			{{ content }}

			</div>

		</div>
	</main>

	{%- include footer.html -%}

	<script src="{{ '/assets/js/dark.js' | relative_url }}"></script>
	<script src="{{ '/assets/js/bootstrap.bundle.min.js' | relative_url }}"></script>
	</body>

</html>